@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

body.dark-theme {
  background-color: #202024;
}

.header-section.dark-theme {
  background-color: #111111;
}

.shopping.dark-theme {
  color: #ffffff;
}

.bestsellers-title.dark-theme {
  color: #ffffff;
}

.dark_icon {
  display: none;
}

.dark_icon.dark-theme {
  display: block;
}

.light_icon.dark-theme {
  display: none;
}

.js-category-list.dark-theme > .category-item > .category-link {
  color: #ffffff;
  opacity: 60%;
}

.js-category-list.dark-theme > .category-item > .category-link:hover,
.js-category-list.dark-theme > .category-item > .category-link:focus {
  color: #eac645;
  opacity: 100%;
}
