@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;

  background-color: #f6f6f6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.dark-theme {
  background-color: #202024;
}

body.dark-theme > .basicLightbox > .basicLightbox__placeholder > .modal-auth {
  background-color: #202024;
}

body.dark-theme
  > .basicLightbox
  > .basicLightbox__placeholder
  > .modal-auth
  > .modal-authorization-form
  > .authorization-form-group
  > .authorization-form-field
  > .authorization-form-input {
  outline: 2px solid #f6f6f6;
}

body.dark-theme
  > .basicLightbox
  > .basicLightbox__placeholder
  > .modal-auth
  > .modal-authorization-form
  > .authorization-form-group
  > .authorization-form-field
  > .authorization-form-label {
  color: #f6f6f6;
}

body.dark-theme
  > .basicLightbox
  > .basicLightbox__placeholder
  > .modal-auth
  > .modal-authorization-form
  > .authorization-form-button {
  background-color: #f6f6f6;
  color: #202024;
}

body.dark-theme
  > .basicLightbox
  > .basicLightbox__placeholder
  > .modal-auth
  > .sign-action-group
  > .js_sign_in {
  color: #f6f6f6;
  opacity: 50%;
}

.js-category-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.js-category-list.dark-theme::-webkit-scrollbar-thumb {
  background-color: #111111;
  opacity: 60%;
}

.header-section.dark-theme {
  background-color: #111111;
  border: 1.5px solid #ffffff;
}

.shopping.dark-theme {
  color: #ffffff;
}

.bestsellers-title.dark-theme {
  color: #ffffff;
}

.dark_icon {
  display: none;
}

.dark_icon.dark-theme {
  display: block;
}

.light_icon.dark-theme {
  display: none;
}

.js-category-list.dark-theme > .category-item > .category-link {
  color: #ffffff;
  opacity: 60%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-category-list.dark-theme > .category-item:hover > .category-link,
.js-category-list.dark-theme > .category-item:focus > .category-link {
  color: #eac645;
  opacity: 100%;
}

.footer-js.dark-theme {
  background-color: #111111;
}

.dark_icon_footer {
  display: none;
}

.dark_icon_footer.dark-theme {
  display: block;
}

.light_icon_footer.dark-theme {
  display: none;
}

.bestsellers.dark-theme
  > .bestsellers-card
  > .bestsellers-list
  > .bestsellers-card-item
  > .bestsellers-link
  > .text-box
  > .book-name {
  color: #ffffff;
}

.bestsellers.dark-theme > .bestsellers-card > .bestsellers-btn {
  color: #ffffff;
}
