.container {
  outline: 1px solid tomato;
}
body {
  background: #f6f6f6;
}
.shopping-list {
  background: #f6f6f6;
  padding-top: 40px;
  // padding-bottom: 302px;
  @media screen and (min-width: 768px) {
    // padding-bottom: 394px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    // padding-bottom: 157px;
  }

  aside {
    display: none;
    @media screen and (min-width: 1440px) {
      display: block;
      margin-right: 40px;
    }
  }
}
.sellected-books {
  padding-left: 0;
  padding-right: 0;

  .sellected-books-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;


    letter-spacing: -0.04em;

    // padding-top: 40px;
    margin-bottom: 40px;
    color: #4f2ee8;
  }

  @media screen and (min-width: 768px) {
    .sellected-books-title {
      font-size: 48px;
      line-height: calc(52 / 48);
    }
  }
}
span {
  color: #111111;
}
.books-not-available {
  width: 265px;
  margin-top: 80px;
  margin-left: 15px;
  padding-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .books-not-available {
    width: 349px;
    height: 309px;
    margin-top: 140px;
    margin-left: 178px;
    margin-right: 177px;
    padding-bottom: 394px;

  }
  .books-not-available {

    margin-left: 315px;
    padding-bottom: 157px;

  }
  @media screen and (min-width: 768px) {
    .books-not-available {
      width: 349px;
      height: 309px;
      margin-top: 140px;
      margin-left: 178px;
      margin-right: 177px;
    }
  }

}

img .books-not-available {
  width: 265px;
  height: 198px;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  img.books-not-available {
    width: 322px;
    height: 241px;
    margin-top: 20px;
    margin-left: 13.5px;
    margin-right: 13.5px;
  }
}

//  -- shop --

.sellected-books-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.book-item {
  width: 100%vw;
  padding: 14px;
  display: flex;
  background: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  @media screen and (min-width: 375px) {
    width: 335px;
    // padding: 14px;
    // display: flex;

    // background: #ffffff;
    // border: 2px solid rgba(79, 46, 232, 0.4);
    // border-radius: 16px;
  }

  @media screen and (min-width: 768px) {
    .no-books-text {
      font-size: 18px;
      line-height: 1.33;
    }
  }
  img {
    width: 265px;
    height: 198px;
    margin-top: 14px;
  }
  @media screen and (min-width: 768px) {
    img {
      width: 322px;
      height: 241px;
      margin-top: 20px;
      margin-left: 13.5px;
      margin-right: 13.5px;
    }
  }

}
.book-info {
  display: flex;
  flex-direction: column;
}

.book-style {
  display: flex;
  justify-content: space-between;
}

.book-title {
  width: 100px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  margin-bottom: 4px;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #111111;

  @media screen and (min-width: 375px) {
    width: 144px;
  }
  // font-family: 'DM Sans';
  // font-style: normal;
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.12;
  // margin-bottom: 4px;

  // letter-spacing: -0.04em;
  // text-transform: uppercase;

  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;

  // color: #111111;

  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
    width: auto;
  }
}

.book-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #b4afaf;
  margin-bottom: 14px;
  width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 375px) {
    width: 144px;
  }
  @media screen and (min-width: 768px) {
    width: auto;

  }
  .book-image {
    width: 100px;
    height: 142px;
    display: inline-block;
    margin-right: 14px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 8px;
    @media screen and (min-width: 768px) {
      width: 116px;
      height: 165px;
      margin-right: 24px;
    }
  }

}
.book-description {
  max-width: 138px;
  height: 58px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
  overflow: auto;

  @media screen and (min-width: 375px) {
    max-width: 193px;
  }
  @media screen and (min-width: 768px) {
    max-width: none;
    width: 508px;
    height: 53px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    // overflow: hidden;
    width: 808px;

  }
  .book-category {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #b4afaf;
    margin-bottom: 14px;
    width: 144px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 768px) {
      width: auto;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 8px;
    }
  }

}

.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
  display: inline;

  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 375px) {
    width: 97px;
  }
  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.delete-book-button {
  border-radius: 50%;
  border: none;
  cursor: pointer;

  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: url(../images/shopping/trash.png);

  @media screen and (min-width: 768px) {
    padding: 8px;
    width: 34px;
    height: 34px;
    background: url(../images/shopping/trash1.png);
  }
}
.trading-platforms-list {
  display: flex;
  filter: grayscale(100%);
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  @media screen and (min-width: 375px) {
    gap: 8px;
  }
  @media screen and (min-width: 768px) {
    gap: 16px;

  }
  .book-author {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
    display: inline;
    width: 97px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }

}
.amazon:hover,
.amazon:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.apple {
  width: 16px;
  height: 16px;
  background: url(../images/shopping/apple.png);
  @media screen and (min-width: 768px) {

    width: 28px;
    height: 28px;
    background: url(../images/shopping/trash.png);
    @media screen and (min-width: 768px) {
      padding: 8px;
      width: 34px;
      height: 34px;
      background: url(../images/shopping/trash1.png);
    }
  }

}

.apple:hover,
.apple:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shop {
  width: 16px;
  height: 16px;
  background: url(../images/shopping/shop.png);
  @media screen and (min-width: 768px) {

    width: 32px;
    height: 11px;
    border-radius: 0px;
    background-size: cover;
    background: url(../images/shopping/amazon.png);
    @media screen and (min-width: 768px) {
      width: 48px;
      height: 15px;
      background: url(../images/shopping/amazon1.png);
    }
  }
  .apple {
    width: 16px;
    height: 16px;
    background: url(../images/shopping/apple.png);
    @media screen and (min-width: 768px) {
      width: 28px;
      height: 27px;
      background: url(../images/shopping/aplle1.png);
    }
  }
  .shop {
    width: 16px;
    height: 16px;
    background: url(../images/shopping/shop.png);
    @media screen and (min-width: 768px) {
      width: 32px;
      height: 30px;
      background: url(../images/shopping/shop1.png);
    }
  }
}
.shop:hover,
.shop:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

/*-----------*/

.pagination-container {
  display: flex;
  align-items: center;
  // position: absolute;
  bottom: 0;
  justify-content: center;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
  }
}

.pagination-number,
.pagination-button {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #111111;
  color: #111111;
  margin: 8px 8px;
  cursor: pointer;
  height: 38px;
  width: 38px;
  border-radius: 50px;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #111111;
}
// .pagination-button.active:hover {
//   background: #eac645;
// }
.pagination-number.active {
  color: #ffffff;
  background: #111111;
}
.pagination-button.active {
  color: #111111;
  background: #eac645;
}
