.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.shop-image {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-image:focus,
.shop-image:hover {
  transform: rotate(360deg);
}

.modal-book-image {
  border-radius: 8px;
}

.about-book-modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin-right: auto;
  margin-left: auto;
  padding: 40px 24px;
  width: 339px;
  border: 2px solid #111111;
  border-radius: 18px;
  background-color: white;
  .about-book-modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-book-modal-close-icon {
    fill: #111111;
    background-color: transparent;
    width: 24px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .about-book-modal-img-container {
    border-radius: 8px;
    width: 287px;
    height: 408px;
    overflow: hidden;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 54px;
    margin-bottom: 14px;
  }
  .about-book-modal-img {
    width: 287px;
    height: 408px;
    border-radius: 8px;
  }
  .modal-book-img {
    border-radius: 8px;
    // border: 1px solid black;
  }
  .about-book-modal-description {
    display: block;
    margin-bottom: 10px;
  }
  .about-book-modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: #111111;
    margin-bottom: 4px;
  }
  .about-book-modal-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #111111;
    margin-top: 28px;
  }
  .about-book-modal-description .modal-book-author {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
    margin-bottom: 18px;
  }
  .about-book-modal-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .add-to-sopping-list {
    display: block;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    padding: 14px 24px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #111111;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      padding: 20px 100px;
      font-size: 18px;
      line-height: 1.33em;
      letter-spacing: -0.01em;
      text-transform: uppercase;
    }
  }
  .add-to-sopping-list:hover,
  .add-to-sopping-list:focus {
    background: #4f2ee8;
    color: #ffffff;
  }
  .congratulations-text {
    text-align: center;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(17, 17, 17, 0.5);
    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17em;
      text-align: center;
      letter-spacing: -0.04em;
      width: 325px;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-book-modal {
    width: 579px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    .about-book-modal-close {
      top: 24px;
      right: 24px;
    }
    .about-book-modal-close-icon {
      width: 28px;
      height: 28px;
    }
    .about-book-modal-wrapper {
      width: 495px;
      height: 281px;
      display: flex;
      flex-flow: column wrap;
      column-gap: 40px;
    }
    .about-book-modal-img-container {
      width: 192px;
      height: 281px;
      background-size: 88px 80px;
      margin-right: 24px;
    }
    .about-book-modal-img {
      width: 192px;
      height: 281px;
    }
    .about-book-modal-description {
      width: 279px;
      max-height: 219px;
      margin-top: 0;
      overflow: auto;
    }
    .about-book-modal-title {
      width: 100%;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.17em;
      letter-spacing: -0.04em;
    }
  }
}

// ----------------Scroll block---------------
.no-scroll {
  overflow: hidden;
}
