.basicLightbox {
  background-color: #4f2ee8;
}

.modal-auth {
  width: 335px;
  padding: 40px 20px;

  /* background-color: #202024;  dark mode*/
  background-color: #f6f6f6;
  border: 2px solid #111111;
  border-radius: 18px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 579px;
    padding: 80px 40px 40px 40px;
  }
}

.auth-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  background-color: transparent;
  border: none;
  color: #111111;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    padding: 7px;
  }
}

.icon {
  fill: currentColor;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
}

.authorization-form-group {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.authorization-form-field {
  position: relative;
}
.authorization-form-field:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}
.authorization-form-input {
  padding: 14px 22px;

  /* outline: 2px solid #f6f6f6; dark mode */
  outline: 2px solid #111111;
  border-radius: 24px;

  /* color: #f6f6f6; dark mode*/
  color: #111111;

  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  border: none;

  width: 100%;
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @media screen and (min-width: 768px) {
    padding: 18px 38px;
    font-size: 18px;
    line-height: 24px;
  }
}
.authorization-form-input::placeholder {
  color: transparent;
}
.authorization-form-input:focus-visible {
  outline: 2px solid #4f2ee8;
}

.authorization-form-label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  letter-spacing: -0.01em;
  text-transform: uppercase;
  /* color: #f6f6f6;
  background-color: #202024; dark mode */

  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}
.authorization-form-field {
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.authorization-form-input:focus + .authorization-form-label,
.authorization-form-input:not(:placeholder-shown) + .authorization-form-label {
  transform: translate(-10px, -33px) scale(0.8);
  @media screen and (min-width: 768px) {
    transform: translate(-5px, -43px) scale(0.9);
  }
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.authorization-form-button {
  display: inline-block;
  width: 100%;

  padding: 14px 22px;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* color: #202024; 
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6; dark mode*/

  color: #f3f3f3;
  background-color: #111111;
  border: none;
  border-radius: 40px;

  cursor: pointer;
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @media screen and (min-width: 768px) {
    padding: 20px 38px;
    font-size: 18px;
    line-height: 24px;
  }
}

.authorization-form-button:hover {
  background-color: #4f2ee8;
  border-color: #4f2ee8;
}
.authorization-form-button:focus {
  background-color: #4f2ee8;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  border-color: #4f2ee8;
}

.sign-action-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal-sign-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* color: rgba(246, 246, 246, 0.5); */
  color: rgba(17, 17, 17, 0.5);

  cursor: pointer;

  transition: color 200ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}
.modal-sign-action:hover,
.modal-sign-action:focus {
  color: #4f2ee8;
}
.active {
  color: #4f2ee8;
  text-decoration: underline solid #4f2ee8;
}

// ----------------SIGNOUT BUTTON---------------

.logout-wdw {
  display: none;

  @media screen and (min-width: 768px) {
    opacity: 1;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    top: 50px;
    right: 0;

    width: 250px;
    height: 150px;
    padding: 15px 20px;

    /* background-color: #202024;  dark mode*/
    background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%);
    border-radius: 18px;

    transition: 150ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  @media screen and (min-width: 1440px) {
    width: 350px;
    height: 220px;
    padding: 30px 20px;
  }
}

@media screen and (min-width: 768px) {
  .logouthidn {
    opacity: 0.5;
    visibility: hidden;
  }
  .signout-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    width: 184px;
    height: 48px;
    background: #f6f6f6;
    border: 1.5px solid;
    border-radius: 18px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #111111;
  }
  .signout-text,
  .signout-name {
    font-size: 16px;
    margin-left: 9px;
    margin-right: 4px;
    line-height: calc(29 / 22);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
}
