

<div class="modal hidden">


  
</div>

<!-- 
    <section class="modal hidden">
  <div class="flex">
    <button class="btn-close">⨉</button>
    <img src="./book_cover.jpg" width="287px" height="408px" alt="cover" />
  </div>
  <div>
    <h3>HELLO BEAUTIFUL</h3>
    <p>Ann Napolitano</p>
    <ul class="social-links">
    <li><a href=""></a></li>
    <li></li>
    <li></li>
    </ul>
    <p>
      In a homage to Louisa May Alcott's “Little Women,” a young man's dark past resurfaces as he gets to the know the family of his college sweetheart.
    </p>
  </div>

  <button class="btn">ADD TO SHOP LIST</button>
</section>

<div class="overlay hidden"></div>
<button class="btn btn-open">Open Modal</button> -->


    <!-- // const modal = document.querySelector('.modal');
    // const overlay = document.querySelector('.overlay');
    // const openModalBtn = document.querySelector('.btn-open');
    // const closeModalBtn = document.querySelector('.btn-close');
    
    // close modal function
    // const closeModal = function () {
    //     bestSellersGalery.classList.add('hidden');
    //   overlay.classList.add('hidden');
    // };
    
    // close the modal when the close button and overlay is clicked
    // closeModalBtn.addEventListener('click', closeModal);
    // overlay.addEventListener('click', closeModal);
    
    // close modal when the Esc key is pressed
    // document.addEventListener('keydown', function (e) {
    //   if (e.key === 'Escape' && !modal.classList.contains('hidden')) {
    //     closeModal();
    //   }
    // });
    
    // open modal function

    // const openModal = function () {
    //     modal.classList.remove('hidden');
    //   overlay.classList.remove('hidden');
    // };
    // open modal event
    // openModalBtn.addEventListener('click', openModal); -->