<div class="about-book-modal is-hidden"></div>
<button type="button" class="about-book-modal-close" data-modal-close>
  <svg class="about-book-modal-close" width="14" height="14" data-modal-close>
    <use href="./images/x-close.svg"></use>
  </svg>
</button>
<div class="about-book-modal-wrapper">
  <div class="about-book-modal-img"></div>
  <div class="about-book-modal-description"></div>
  <ul class="about-book-modal-list list">
    <li>
      <a
        href="#"
        class="about-book-modal-link shop-image-amazon"
        target="blank"
      >
        <img
          src="./images/shopping/amazon1.png"
          alt="Amazon Logo"
          class="shop-image"
        />
      </a>
    </li>
    <li>
      <a href="#" class="about-book-modal-link shop-image-aplle" target="blank">
        <img
          src="./images/shopping/aplle1.png"
          alt="Apple Books Logo"
          class="shop-image"
        />
      </a>
    </li>
    <li>
      <a href="#" class="about-book-modal-link shop-image-shop" target="blank">
        <img
          src="./images/shopping/shop1.png"
          alt="Book Shop Logo"
          class="shop-image"
        />
      </a>
    </li>
  </ul>
</div>
<button type="button" class="add-to-sopping-list">ADD TO SHOPPING LIST</button>
<div class="congratulations-text"></div>
