<!-- <link rel="stylesheet" href="./js/partials/bestsellers.js"> -->

<section class="section">


    <div class="container bestsellers">
        <!-- <div class="">
            <h2 class="bestsellers-title">${el.list_name}</h2>
               <ul class="bestsellers-list">
   
              
              
            
           
           </ul>
           <button class="bestsellers-btn" type="button">See more</button>
           </div> -->
    </div>


</section>
<script src="./js/partials/bestsellers.js" type="module"></script>