<footer class="footer-section footer-js">
  <div class="container">
    <a href="./index.html" class="footer-logo link">
      <svg class="footer-logo-icon light_icon_footer" width="109" height="28">
        <use href="./images/sprite.svg#icon-logo-light"></use>
      </svg>
      <svg class="footer-logo-icon dark_icon_footer" width="109" height="28">
        <use href="./images/sprite.svg#icon-logo-dark"></use>
      </svg>
    </a>
    <button type="button" class="footer-button" data-modal-open>
      <span class="footer-button-text">About team</span>
    </button>
  </div>
</footer>
