<section class="section">
  <div class="container">
    <div class="support">
      <div class="support-title">
        <h3 class="support-name">Support Ukraine</h3>
        <svg class="support-name-icon">
          <use href="./images/support-ukraine/support-sprite.svg#emblem"></use>
        </svg>
      </div>
      <div class="support-list">
        <div class="support-wrapper">
          <div class="support-item">
            <p class="support-number">01</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
          <div class="support-item">
            <p class="support-number">01</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
          <div class="support-item">
            <p class="support-number">01</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
          <div class="support-item">
            <p class="support-number">04</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
          <div class="support-item">
            <p class="support-number">05</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
          <div class="support-item">
            <p class="support-number">06</p>
            <a class="support-link" href="#">
              <img src="#" alt="image" />
            </a>
          </div>
        </div>
      </div>

      <button class="support-btn">
        <svg class="support-btn-icon">
          <use href="./images/support-ukraine/support-sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
