<section class="section">
    <div class="container">
        <div class="support">
            <div class="support-title">
                <h3 class="support-name">Support Ukraine</h3>
                <svg class="support-name-icon">
                    <use href="./images/support-ukraine/support-sprite.svg#emblem"></use>
                </svg>
            </div>
            <div class="support-list"></div>
            <button class="support-btn">
                <svg class="support-btn-icon">
                    <use href="./images/support-ukraine/support-sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>