//  ------------------------- MOBILE -------------------------
.bestsellers-title {
  margin-bottom: 40px;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
}

.bestsellers-list {
  padding-left: 0px;
}

.bestsellers-title-color {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $lt-main-text-color;
}

.bestsellers-title-span {
  color: $main-accent-color;
}

.bestsellers-card {
  display: flex;
  flex-wrap: wrap;
  // align-content: center;
  width: 335px;
  // border-radius: 0;
  margin-bottom: 40px;
}

.bestsellers-title-book {
  // margin-bottom: 18px;
  color: $ld-discription-text-color;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.bestsellers-list {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: 8px;
  // gap: 24px;
  width: 371px;
  border-radius: 0px;
}

.bestsellers-card-item {
  // height: 535px;
  border-radius: 0px;
}

/* ----------- hover-focus --------------- */

.bestsellers-card-item:hover,
.bestsellers-card-item:focus {
  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba(64, 69, 159, 0.08),
    10px 4px 4px rgba(76, 84, 230, 0.16), 10px 4px 10px rgba(45, 55, 240, 0.08);

    // box-shadow: 18px 15px 20px rgba(64, 69, 159, 0.08),
    //  10px 7px 10px rgba(76, 84, 230, 0.16), 15px 7px 15px rgba(45, 55, 240, 0.08);
}

/* ----------- hover-focus --------------- */

// .bestsellers-card-item:not(:first-child) {
//   display: none;
// }

/*---------- box-menu  -------------*/

.bestsellers-link {
  display: block;
  text-decoration: none;
}

.project-transit {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  position: relative;
  overflow: hidden;
  width: 335px;
}

.bestsellers-card-item:hover .overlay,
.bestsellers-card-item:focus .overlay {
  transform: translate(0, 70%);
}

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: $second-accent-color;
  background-color: #eac645;
  transform: translate(0, 100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms ease-out 250ms;
  // transition: opacity  $transition,
  // visibility  $transition,
  // transform  $transition;
  padding-top: 35px;
  padding-bottom: 35px;
  // padding: 40px 80px 30px 32px;
  color: #111111;
  // color: $lt-main-text-color;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
}

.overlay > p {
  margin: 0;
}

/*---------- box-menu  -------------*/

.gallery__image {
  height: 485px;
  width: 335px;
  border-radius: 8px;
}

.text-box {
  display: flex;
  width: 100%;
  // height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  // overflow: hidden;
  flex-direction: column;
  text-overflow: ellipsis;
}

.book-name {
  // overflow: hidden;
  // flex-wrap: nowrap;
  width: 100%;
  // height: 100%;
  text-overflow: ellipsis;
  margin-top: 14px;
  margin-bottom: 4px;
  color: $lt-main-text-color;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.author {
  color: $ld-discription-text-color;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: left;
}

.bestsellers-btn {
  margin-left: auto;
  // display: flex;
  // align-self: flex-end;
  border-radius: 40px;
  padding: 14px 28px 14px 28px;
  // border-color: $text-accent-color;
  border-color: #4f2ee8;
  // color: $lt-main-text-color;
  color: #111111;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  // text-align: left;
  cursor: pointer;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// ---------------------------
.category-book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-left: 0;
}

//  ------------------------- MOBILE -------------------------
//  ------------------------- TABLET -------------------------
@media screen and (min-width: 768px) {
  .bestsellers-title {
    font-size: 48px;
    line-height: 52px;
  }
  .bestsellers-card {
    display: flex;
    // flex-wrap: wrap;
    // height: 474px;
    width: 704px;
    // align-content: center;
    // max-width: 335px;
    // border-radius: 0;
    margin-bottom: 40px;
    overflow: hidden;
  }
  .bestsellers-list {
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-bottom: 8px;
    gap: 25px;
    width: 704px;
    // height: 366px;
  }
  .bestsellers-card-item {
    // height: 366px;
    width: 218px;
    border-radius: 0px;
  }
  // .bestsellers-card-item:nth-child(n) {
  //   display: contents;
  // }
  // .bestsellers-card-item:nth-child(n + 4) {
  //   display: none;
  // }
  .box {
    width: 218px;
  }
  .gallery__image {
    height: 316px;
    width: 218px;
  }
  .bestsellers-btn {
    display: flex;
    align-self: flex-end;
  }
  // -----------------
  .category-book-list {
    gap: 40px 25px;
  }
}

//  ------------------------- TABLET -------------------------
//  ------------------------- DESKTOP -------------------------
@media screen and (min-width: 1440px) {
  .bestsellers-card {
    display: flex;
    width: 996px;
    // height: 430px;
    margin-bottom: 40px;
  }
  .bestsellers-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
    gap: 22px;
    width: 996px;
    // height: 306px;
    border-radius: 0px;
  }
  .box {
    width: 180px;
  }
  .bestsellers-card-item {
    // height: 306px;
    width: 180px;
  }
  // .bestsellers-card-item:nth-child(n) {
  //   display: contents;
  // }
  .gallery__image {
    height: 256px;
    width: 180px;
  }
  //-----------------------------
  .category-book-list {
    // gap: 40px 24px;
    gap: 40px 21px;
  }
}

//  ------------------------- DESKTOP -------------------------
