// $white: #ffffff;
// $black: #000000;

// /* Light theme */

// $lt-background-color: #f6f6f6;
// $lt-main-text-color: #111111;
// $lt-nav-menu-color: #11111199;
// $lt-discription-text-color: #B4AFAF;
// $lt-backdrop: #f6f6f6;
// $lt-btn-grad: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);

// /* Dark theme */

// $ld-background-color: #202024;
// $ld-main-text-color: #ffffff;
// $ld-nav-menu-color: #ffffff99;
// $ld-discription-text-color: #b4afaf;
// $ld-backdrop: #202024;
// $ld-btn-grad: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);

// /* Accent */

// $main-accent-color: #4f2ee8;
// $second-accent-color: #eac645;
// $text-accent-color: #4f2ee8;
// $dark-accent-color: #111111;

// /* transition */

// $transition: 500ms cubic-bezier(0.65, 0.05, 0.36, 1);

// --anim-slow: 300ms ease-out;
// --anim-fast: 250ms ease; 
// --transition-duration-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a, h1, h2, h3, p, button{
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

//  ------------------------- MOBILE ------------------------- 


.bestsellers-title {
    margin-bottom: 40px;
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: left;
}

.bestsellers-title-color {
    color: #111111;
    // color: $lt-main-text-color;

}

.bestsellers-title-span{
    color: #4F2EE8;
    // color: $main-accent-color;  
}

.bestsellers-card{
    display: flex;
    flex-wrap: wrap;
    // align-content: center;
    // max-width: 335px;
    // border-radius: 0;
    margin-bottom: 40px;
}

.bestsellers-title-book {
    margin-bottom: 18px;
    color:  #B4AFAF;
    font-family: DM Sans;
    // color: $ld-discription-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

.bestsellers-list{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-bottom: 8px;
    // gap: 24px;
    width: 371px;
    border-radius: 0px;
}

.bestsellers-card-item {
    height: 535px;
    border-radius: 0px;
}
/* ----------- hover-focus --------------- */
.project-transit {
    transition: box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bestsellers-card-item,
.bestsellers-card-item{
    border-radius: 6px;
    box-shadow: 0px 5px 4px rgba(46, 47, 66, 0.08),
    0px 4px 4px rgba(46, 47, 66, 0.16),
    0px 4px 10px rgba(46, 47, 66, 0.08); 
} 
/* ----------- hover-focus --------------- */

.bestsellers-card-item:not(:first-child) {
    display: none;
}

/*---------- box-menu  -------------*/
.bestsellers-link{
    display: block;
}

.box {
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.bestsellers-link:hover .overlay,
.bestsellers-link:focus .overlay {
    transform: translate(0, 50%);
} 

.overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: $second-accent-color;
    background-color: #EAC645;
    // transform: translate(0, 100%);
     transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility  250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform  300ms ease-out 250ms;
    // transition: opacity  $transition,
    // visibility  $transition,
    // transform  $transition;
    width: 200px;
    padding: 40px 32px 280px 32px;
    color: #111111;
    // color: $lt-main-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top;
}
 
.overlay > p {
    margin: 0;  
}

/*---------- box-menu  -------------*/
.gallery__image {
    height: 485px;
    width: 335px;
    border-radius: 8px;
}

.book-name {
    margin-top: 14px;
    margin-bottom: 4px;
    color: #111111;
    // color: $lt-main-text-color;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
}

.author {
    // color: $ld-discription-text-color;
    color:#B4AFAF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
}

.bestsellers-btn {
    display: flex;
    align-self: flex-end;
    border-radius: 40px;
    padding: 14px 28px 14px 28px;
    // border-color: $text-accent-color;
    border-color: #4F2EE8;
    // color: $lt-main-text-color;
    color: #111111;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    // text-align: left;
}
//  ------------------------- MOBILE ------------------------- 
//  ------------------------- TABLET -------------------------
@media screen and (min-width: 768px) { 
    .bestsellers-title {
        font-size: 48px;
        line-height: 52px;
    }

    .bestsellers-card{
        display: flex;
        // flex-wrap: wrap;
        // height: 474px;
        // width: 704px;
        // align-content: center;
        // max-width: 335px;
        // border-radius: 0;
        margin-bottom: 40px; 
    }

    .bestsellers-list{
        display: flex;
        align-content: center;
        flex-direction: row;
        margin-bottom: 8px;
        gap: 25px;
        width: 704px;
        // height: 366px;
    }
    
    .bestsellers-card-item {
        height: 366px;
        border-radius: 0px;
    }

    .bestsellers-card-item:nth-child(n) {
        display: contents;
    }

    .bestsellers-card-item:nth-child(n + 4) {
        display: none;
    }

    .gallery__image {
        height: 316px;
        // width: 218px;
    }

    .bestsellers-btn {
        display: flex;
        align-self: flex-end;
      
    }
}
//  ------------------------- TABLET -------------------------
//  ------------------------- DESKTOP -------------------------
@media screen and (min-width: 1440px) {
   
    .bestsellers-card{
        display: flex;
        width: 996px;
        height: 426px;
        margin-bottom: 40px;
   
    }
    
    .bestsellers-list{
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        gap: 24px;
        width: 996px;
        height: 306px;
        border-radius: 0px;
    }

    .bestsellers-card-item {
        height: 306px;
        width: 180px;
    }

    .bestsellers-card-item:nth-child(n) {
        display: contents;
    }
    .gallery__image {
        height: 256px;
        // width: 180px;
    }

}
//  ------------------------- DESKTOP -------------------------




