.categories-container {
  padding-left: 0;
}

@media (max-width: 767px) {
  .category-list {
    margin-top: 40px;
    height: 228px;
    width: 335px;
    overflow-y: scroll;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .category-item {
    font-family: 'DM Sans';
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }
  .category-link {
    text-decoration: none;
    color: inherit;
  }
  .category-item:hover,
  .category-item:focus,
  .category-item:active {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #4f2ee8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .category-list {
    margin-top: 40px;
    height: 472px;
    min-width: 337px;
    // width: 337px;
    overflow-y: scroll;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
  }
  .category-item {
    font-family: 'DM Sans';
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }
  .category-link {
    text-decoration: none;
    color: inherit;
  }
  .category-item:hover,
  .category-item:focus {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #4f2ee8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
