html {
  scroll-behavior: smooth;
}

.header-section {
  background-color: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header-logo {
  line-height: 0;
}
.header-nav.unauthorized {
  display: none;
}

.authorized {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: auto;
    margin-left: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 76px;
  }
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.header-nav-item.current {
  font-weight: 700;
  padding: 8px 16px;
  background: #eac645;
  border-radius: 36px;
}
.header-nav-link.shopping {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: 767px) {
    color: #ffffff;
  }
}
.header-uil-cart {
  fill: currentColor;
}
.header-wrap-2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}
.user-wrap.unauthorized {
  display: none;
}
.user-wrap.authorized {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    min-width: 184px;
    cursor: pointer;
    background: #4f2ee8;
    border-radius: 36px;
    padding: 4px 12px;
  }
}
.user-name {

  font-size: 22px;
  margin-left: 9px;
  margin-right: 4px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-left: auto;
  margin-right: auto;
  }
  
}
.user-icon {
  fill: #ffffff;
}
.user-sign-up.authorized {
  display: none;
}
.user-sign-up {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 14px;
    justify-content: space-between;
    width: 184px;
    height: 48px;
    background: #4f2ee8;
    border: 1.5px solid #111111;
    border-radius: 18px;

    cursor: pointer;
  }
}
.user-sign-up-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.user-sign-up-icon {
  stroke: #eac645;
}
.mobile-menu-btn {
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  stroke: currentColor;
}
// swicher
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 400ms;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.scroll-up-btn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  line-height: 0;
  padding: 15px;
  cursor: pointer;
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #4f2ee84d;
  transition: background-color 0.5s cubic-bezier(0.65, 0.05, 0.36, 1),
    box-shadow 0.5s cubic-bezier(0.65, 0.05, 0.36, 1),
    opacity 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.scroll-arr {
  fill: #ffffff;
}

.scroll-up-btn:hover {
  box-shadow: 0 0 0 3px #4f2ee84d;
  background-color: #fff;
}
.scroll-up-btn:hover .scroll-arr {
  fill: #4f2ee8;
}

// _________________________________Стилі мобільної меню_____________________________________
.menu-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 20px 80px 20px;

  background-image: url(../images/back-img-menu.png),
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  display: flex;
  align-items: flex-end;
  // justify-content: space-between;
  overflow-y: hidden;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 1;
}

.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu-btn.js-close-menu {
  display: none;
}
.mobile-menu-btn.js-close-menu.is-open {
  display: block;
}
.mobile-menu-btn.js-open-menu.is-open {
  display: none;
}
.header-nav.mobile {
  display: block;
  position: fixed;
  top: 247px;
  left: 129px;
  z-index: 10;

  animation: magic 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.header-nav.mobile > ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}
.header-nav.mobile.unauthorized{
  display: none;
}
.user-wrap.authorized.mobile {
  display: flex;
  align-items: center;

  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 11;

  animation: magic 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.user-wrap.authorized.mobile > svg {
  display: none;
}
@keyframes magic {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0);
  }
}


.user-sign-up.mobile {
  @media screen and (max-width: 767px) {
 display: flex;
  align-items: center;

  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 11;

  padding: 10px 21px;
    font-weight: 500;
  font-size: 14px;
  border: 1.5px solid #111111;
  border-radius: 18px;
  color:#111111;

  animation: magic 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

  .user-sign-up-text {
      color:#111111;
      font-size: 14px;
line-height: 1.29;

  }
  }
 
}
.user-sign-up.mobile.authorized {
  display: none;
}

.mobile-logout-btn {
  padding: 13px 24px;
  display: none;
  align-items: center;
  gap: 7px;

  font-weight: 500;
  font-size: 14px;
  border: 1.5px solid #111111;
  border-radius: 18px;
}
.mobile-logout-btn.authorized{
  display: flex;
}
.mobile-logout-btn > svg {
  color: #eac645;
}
// ----------------Scroll block---------------
.no-scroll {
  overflow: hidden;
}
