.support {
  width: 335px;
  height: 352px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  padding-left: 40px;
  padding-top: 24px;
}

.support-title {
  display: flex;
  margin-bottom: 40px;
}

.support-name {
  width: 205px;
  height: 32px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-right: 12px;
}

.support-name-icon {
  fill: #ffffff;
  width: 20px;
  height: 32px;
}

.support-list {
  width: 159px;
  height: 188px;
  margin-bottom: 16px;
  overflow: hidden;
}

.support-wrapper {
  transition: transform 500ms;
}

.support-item {
  display: flex;
  align-items: center;

  height: 32px;
  width: 159px;
  margin-bottom: 20px;
}

.support-number {
  margin-right: 14px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.support-link {
  text-decoration: none;
}

.support-link img {
  filter: brightness(0) invert(1);
}

.support-btn {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;

  border: none;
  margin-left: 112px;

  transition: background-color 500ms cubic-bezier(0.65, 0.05, 0.36, 1),
    box-shadow 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.support-btn:hover,
.support-btn:focus {
  background-color: #4f2ee8;
  box-shadow: 0 0 0 5px rgba(79, 46, 232, 0.3);
}

.support-btn-icon {
  width: 12px;
  height: 6px;
  fill: #4f2ee8;
  margin: 0 auto;
}

.support-btn:hover .support-btn-icon,
.support-btn:focus .support-btn-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .support {
    height: 472px;
  }

  .support-list {
    height: 292px;
    margin-bottom: 32px;
  }

  .support-btn {
    width: 38px;
    height: 38px;
    margin-left: 109px;
  }

  .support-btn-icon {
    width: 13px;
    height: 7px;
  }
}

@media screen and (min-width: 768px) {
  .support {
    width: 356px;
    height: 490px;
  }
  .support-list {
    margin-bottom: 40px;
  }
  .support-btn {
    margin-left: 119px;
  }
}
